<!DOCTYPE html>
<html lang="en">
<head>
<title>Tidbit</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" media="all" href="/c/style.css" />

<!-- TAG IT -->
<script src="/j/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function(){ $('#myTags').tagit();  });
</script>
<!-- /TAG IT -->


</head>
<body>
